html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #222;
}

.chat {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  margin-bottom: 200px;
  flex-direction: column;
}

.room_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  border-radius: 5px;
  background-color: rgba(67, 67, 67, 0.384);
  padding: 20px 10px;
  transition: all 100ms linear 0s;
}
#message_bar {
  display: none;
  position: fixed;
  bottom: 0%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  width: 250px;

  @media (max-width: 400px) {
    // filter: scale(0.6);
  }
}
.textbox {
  justify-self: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.center {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}

.connection_message {
  color: rgb(93, 222, 78);
  font-family: monospace;
  margin: 5px 3px;
}

.disconnected_message {
  color: rgb(222, 78, 78);
  font-family: monospace;
  margin: 10px 3px;
}
input[type="text"] {
  background-color: rgb(68, 73, 94);
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 10px;
  transition: all 100ms linear 0s;

  &::placeholder {
    color: rgba(220, 220, 220, 0.531);
  }
}

.hidden {
  display: none;
}
.button_container {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.887);
  background-color: rgba(73, 98, 238, 0.738);
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 100ms linear 0s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.active {
  background-color: rgba(73, 188, 238, 0.782);
  transition: all 100ms linear 0s;
  padding: 8px 12px;
  font-weight: bolder;
}

.message_box {
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 56, 56, 0.441);
  color: rgba(204, 204, 204, 0.712);

  width: fit-content;
  border-radius: 7px;
  padding: 6px 20px;
  padding-bottom: 12px;
  transition: all 500ms linear 0s;
  margin: 5px 0;
  max-width: 290px;
  word-wrap: break-word;
  .username {
    font-weight: 800;
    font-size: 18px;
    color: rgb(78, 121, 222);
  }

  .time {
    font-size: 12px;
    font-family: monospace;
    padding-left: 5px;
  }

  .message {
  }
}
canvas {
  width: 100%;
}
